{% extends 'base.html' %}
{% load static %}
{% block title %}
DA Technology IT Solution - Home
{% endblock %}
{% block styles %}
{% endblock %}


{% block content %}
<section id="services" class="bg-gradient-to-br from-blue-100 to-blue-400 py-16">
    <div class="text-center mb-12">
        <h2 class="text-3xl sm:text-4xl font-semibold text-blue-800 mb-6">Our Services <span class="block w-16 h-1 bg-blue-500 mx-auto mt-2 rounded-full"></span></h2>
        <p class="text-lg text-gray-700 max-w-2xl mx-auto">We offer a wide range of services tailored to your business needs. Explore our services below to learn how we can help you achieve success.</p>
    </div>

    <!-- Services List -->
    <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12">

        <!-- Service 1 -->
        <div class="bg-white shadow-xl rounded-lg overflow-hidden m-2 transform transition-transform hover:scale-105 hover:shadow-2xl hover:cursor-pointer">
            <img src="{% static 'image/techccc.jpg' %}" alt="Service Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h4 class="text-xl font-semibold text-blue-700 mb-4">Consulting Services</h4>
                <p class="text-gray-600 mb-4">Our consulting services help businesses streamline their processes, improve efficiency, and drive innovation. Our expert consultants provide insights into technology solutions that align with your business goals.</p>
                <a href="{% url 'contact' %}" class="inline-block px-8 py-3 text-lg font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 transition">Describe your requirements</a>
            </div>
        </div>

        <!-- Service 2 -->
        <div class="bg-white shadow-xl rounded-lg overflow-hidden m-2 transform transition-transform hover:scale-105 hover:shadow-2xl hover:cursor-pointer">
            <img src="{% static 'image/inntech.webp' %}" alt="Service Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h4 class="text-xl font-semibold text-blue-700 mb-4">Software Development</h4>
                <p class="text-gray-600 mb-4">We provide custom software development services tailored to meet your unique business needs. From mobile apps to enterprise solutions, we build secure and scalable software that drives your business forward.</p>
                <a href="{% url 'contact' %}" class="inline-block px-8 py-3 text-lg font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 transition">Describe your requirements</a>
            </div>
        </div>

        <!-- Service 3 -->
        <div class="bg-white shadow-xl rounded-lg overflow-hidden m-2 transform transition-transform hover:scale-105 hover:shadow-2xl hover:cursor-pointer">
            <img src="{% static 'image/cloud2.webp' %}" alt="Service Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h4 class="text-xl font-semibold text-blue-700 mb-4">Cloud Services</h4>
                <p class="text-gray-600 mb-4">Our cloud services provide businesses with scalable, secure, and cost-effective solutions. We help businesses migrate to the cloud and leverage its full potential to optimize performance and reduce costs.</p>
                <a href="{% url 'contact' %}" class="inline-block px-8 py-3 text-lg font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 transition">Describe your requirements</a>
            </div>
        </div>

        <!-- Service 4 -->
        <div class="bg-white shadow-xl rounded-lg overflow-hidden m-2 transform transition-transform hover:scale-105 hover:shadow-2xl hover:cursor-pointer">
            <img src="{% static 'image/itsupp.webp' %}" alt="Service Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h4 class="text-xl font-semibold text-blue-700 mb-4">IT Support</h4>
                <p class="text-gray-600 mb-4">We offer reliable IT support to ensure your systems run smoothly. Our team of experts is ready to assist with troubleshooting, system optimization, and providing continuous technical support to prevent downtime.</p>
                <a href="{% url 'contact' %}" class="inline-block px-8 py-3 text-lg font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 transition">Describe your requirements</a>
            </div>
        </div>

        <!-- Service 5 -->
        <div class="bg-white shadow-xl rounded-lg overflow-hidden m-2 transform transition-transform hover:scale-105 hover:shadow-2xl hover:cursor-pointer">
            <img src="{% static 'image/cybersec.webp' %}" alt="Service Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h4 class="text-xl font-semibold text-blue-700 mb-4">Cybersecurity Services</h4>
                <p class="text-gray-600 mb-4">We provide comprehensive cybersecurity services to protect your business from evolving threats. Our team helps safeguard your data, systems, and networks with cutting-edge solutions to mitigate risks.</p>
                <a href="{% url 'contact' %}" class="inline-block px-8 py-3 text-lg font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 transition">Describe your requirements</a>
            </div>
        </div>

        <!-- Service 6 -->
        <div class="bg-white shadow-xl rounded-lg overflow-hidden m-2 transform transition-transform hover:scale-105 hover:shadow-2xl hover:cursor-pointer">
            <img src="{% static 'image/digmat.webp' %}" alt="Service Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h4 class="text-xl font-semibold text-blue-700 mb-4">Digital Marketing</h4>
                <p class="text-gray-600 mb-4">Our digital marketing services help businesses grow their online presence through SEO, social media marketing, and paid ads. We create customized strategies to drive traffic, improve engagement, and boost conversions.</p>
                <a href="{% url 'contact' %}" class="inline-block px-8 py-3 text-lg font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 transition">Describe your requirements</a>
            </div>
        </div>

        <!-- Service 7 -->
        <div class="bg-white shadow-xl rounded-lg overflow-hidden m-2 transform transition-transform hover:scale-105 hover:shadow-2xl hover:cursor-pointer">
            <img src="{% static 'image/ai.webp' %}" alt="Service Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h4 class="text-xl font-semibold text-blue-700 mb-4">AI Solutions</h4>
                <p class="text-gray-600 mb-4">Our AI-powered solutions help businesses automate processes, gain insights from data, and improve decision-making. We design and deploy AI models to enhance business efficiency and profitability.</p>
                <a href="{% url 'contact' %}" class="inline-block px-8 py-3 text-lg font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 transition">Describe your requirements</a>
            </div>
        </div>

        <!-- Service 8 -->
        <div class="bg-white shadow-xl rounded-lg overflow-hidden m-2 transform transition-transform hover:scale-105 hover:shadow-2xl hover:cursor-pointer">
            <img src="{% static 'image/custweb.webp' %}" alt="Service Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h4 class="text-xl font-semibold text-blue-700 mb-4">Web Development</h4>
                <p class="text-gray-600 mb-4">We build custom websites that are both functional and visually appealing. Our web development services include front-end and back-end development, ensuring seamless performance and user experience.</p>
                <a href="{% url 'contact' %}" class="inline-block px-8 py-3 text-lg font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 transition">Describe your requirements</a>
            </div>
        </div>

        <!-- Service 9 -->
        <div class="bg-white shadow-xl rounded-lg overflow-hidden m-2 transform transition-transform hover:scale-105 hover:shadow-2xl hover:cursor-pointer">
            <img src="{% static 'image/callingsupp.webp' %}" alt="Service Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h4 class="text-xl font-semibold text-blue-700 mb-4">Calling Support</h4>
                <p class="text-gray-600 mb-4">Our calling support service provides businesses with a dedicated team to handle customer inquiries, technical support, and issue resolution. We ensure that your customers receive timely assistance to enhance their experience.</p>
                <a href="{% url 'contact' %}" class="inline-block px-8 py-3 text-lg font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 transition">Describe your requirements</a>
            </div>
        </div>

    </div>
</section>




<section id="contact-us"
        class="bg-gradient-to-r from-blue-50 via-blue-100 to-blue-200 py-16 px-6 text-gray-800 text-center relative overflow-hidden">
        <div class="absolute top-0 left-0 w-full h-80 bg-gradient-to-r from-blue-100 to-transparent rounded-b-full">
        </div>

        <div class="max-w-7xl mx-auto relative z-10">
            <h2 class="text-3xl sm:text-4xl font-semibold text-blue-800 mb-6">
                Got a Question or Need an Appointment?
                <span class="block w-16 h-1 bg-blue-500 mx-auto mt-2 rounded-full"></span>
            </h2>
            <p class="text-lg sm:text-xl text-gray-600 mb-8">
                Whether you're looking for more information, have a query, or need an appointment, we’re here to help.
                Feel free to reach out to us for anything!
            </p>

            <!-- Decorative Wave Shape Below the Button -->
            <div
                class="absolute bottom-0 left-0 w-full h-24 bg-gradient-to-r from-blue-200 to-transparent rounded-t-full z-0">
            </div>
            <!-- Button with Decoration -->
            <div class="flex justify-center">
                <a href="{% url 'contact' %}"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-semibold text-lg py-4 px-10 rounded-xl shadow-lg transform hover:scale-110 transition duration-300 ease-in-out">
                    Contact Us Now
                </a>
            </div>
        </div>
</section>

{% endblock %}
